*.3dsx
*.cia
*.cfa
*.cxi
*.elf
*.lst
*.t3x
*.smdh
*.o
*.a

private

build
resources/OUTPUT
resources/TMP
resources/assets
resources/*.7z
resources/textures.t3s
!resources/patch
!resources/patch.7z

tools/makerom*
tools/bannertool*

.vscode
.vs
.idea
desktop.ini

mockups/*.pclx
